html {
    font-size: 15px;
}

body {
    min-width: 300px;
    background-color: #e4e7f3;
    color: purple;

    margin: auto 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: purple;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

li {
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;

}

.header {
    padding: 1.2rem 0;
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}

@media(max-width: 767px) {
    .container {
        max-width: 750px;
    }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 2rem;

}

.nav__link {
    margin-left: 2rem;
    position: relative;

    font-size: 0.93rem;
    color: purple;
    text-transform: uppercase;
    font-weight: 700;
}

.nav__link:hover {
    color: #d85cd8;
}

@media(max-width: 767px) {
    .nav {
        width: 100%;
        height: auto;
        padding: 1rem;

        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;

        background-color: #e4e7f3;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        text-align: center;

        display: none;
    }
    .show {
        display: flex;
        flex-direction: column;
    }
    
}

.user {
    display: flex;
}

@media(max-width: 767px) {
    .user {
        flex-direction: column;
    }
}


.user__content {
    padding-left: 9px;
}

.user__name {
    margin-bottom: 3px;

    font-size: 1.06rem;
    line-height: 1.2;
    color: purple;
    font-weight: 700;
}

.user__prof {
    font-size: 0.8rem;
    color: purple;
}


.intro__inner {
    display: block;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    position: relative;

    border-bottom: 1px solid rgba(75, 0, 130, 0.3);
}

.intro__content {
    width: 50%;
    text-align: center;
    padding-top: 2rem;
}

@media(max-width: 767px) {
    .intro__content {
        width: 100%;
    }
}

.intro__subtitle {
    font-size: 2.13rem;
    color: purple;
    font-weight: 200;
}

.intro__title {
    margin-bottom: 5px;

    font-size: 3rem;
    color: purple;
    font-weight: 700;
}

.intro__text {
    margin-bottom: 25px;

    font-size: 1.2rem;
    color: purple;
}

.contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    color: purple;
}

.contacts {
    margin-bottom: 1.2rem;
    padding: 2rem;
}

.skills__list {
    list-style-type: square;
}

.avatar {
    border: 1px solid black;
    border-radius: 70px;
}

@media(max-width: 767px) {
    .avatar {
        width: 100%;
    }
}

.project__section {
    display: flex;
}

@media(max-width: 767px) {
    .project__section {
        flex-direction: column;
    }
}

.portfolio__content {
    width: 50%;
    text-align: center;
    padding-top: 2rem;
}

@media(max-width: 767px) {
    .portfolio__content {
        width: 100%;
    }
}

.portfolio_picture {
    padding-top: 1.2rem;

}

.footer {
    padding: 1.2rem 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between
}

.burger {
    width: 30px;
    height: 30px;

    background-color: white;
    border-radius: 45%;
    border: 1px solid purple;

    display: none;
}


@media(max-width: 767px) {
    .burger {
        display: block;
    }
}

.burger__icon {
    display: block;
    max-width: 100%;
    height: auto;
}
